#recaptcha_area {
    height: 110px;
    background-color: RGB(144, 21, 9);
    border-radius: 4px;
    border: 5px solid RGB(144, 21, 9);
    margin: 0 auto;
    width: 300px;
}
   
#recaptcha_table {
    line-height: 1 !important;
}